:root {
    --background-color: hsl(204, 43%, 93%);
    --paragraph-color: hsl(218, 22%, 67%);
    --title-and-sections-color: hsl(179, 62%, 43%);
    --warranty-and-btn-color: hsl(71, 73%, 54%);
    --second-section-color: hsl(179, 47%, 52%);
}
